{% extends "accounts_base.html" %}
{% load staticfiles%}
{% load crispy_forms_tags %}

{% block content %}

<br/>
<div class='col-sm-6 col-sm-offset-3'>	
<div class="panel panel-primary transparency">
	<div class="panel-heading">
	 	<h2>ELOPSYS <span class="pull-right" style="color: red;"><i class="fa fa-minus-circle" aria-hidden="true"></i> HTTP Error 403</span></h2>
	</div>

	<div class="panel-body">
	  <img src="{% static 'img/emerald_banner.jpg' %}" width="100%">	
			
		<form method="POST" action="" enctype="multipart/form-data" novalidate>
			{% csrf_token %}
				 <div class="text-align-center" style="color: red;">
				 	<h2>Permission Denied</h2>
				 	<h3>You do not have required permissions to access this page. Please login with an account with the required permissions!!</h3>
				 </div><br/>
				   <a class="btn btn-warning" href="{% url 'logout' %}" type="submit">Login</a>					
			</form>
		</div>
	</div>
</div>

{% endblock content %}