{% extends "base.html" %}
{% load staticfiles %}

{% load bootstrap4 %}
{% load humanize %}
{% block javascript %}

<!-- <script src="{% static 'js/fuel_cards.js' %}"></script> -->

{% endblock %}

{% block content%}

<div class="panel panel-primary transparency">
  <div class="panel-heading">
    {% if stock_item %}
    <b>Edit Stock Item</b>
    {% else %}
    <b>Add Stock Item:</b>
    {% endif %}
  </div>
  
  <div class="panel-body">
    
    <form method="POST" class="form-2" novalidate enctype="multipart/form-data">      
      <input type="hidden" name="next" value="{{ request.META.HTTP_REFERER }}">
      {% csrf_token %}
      
      <div id="edit_stock_item_tab_content" class="tab-content">
        <div class="tab-pane fade active in" id="details">
          <br>
          <div class='col-md-6'>
            {% bootstrap_field stock_item_form.item_name %}
          </div>
          <div class='col-md-6'>
            {% bootstrap_field stock_item_form.category %}
          </div>

      </div>

      <div class="btn-group-horizontal col-lg-12">
        <div class='pull-right'>
          <button type="submit" name="save" class="btn btn-primary">
            <i class='fa fa-floppy-o'></i> Save
          </button> 
          <button type="submit" name="cancel" class="btn btn-primary">
            <i class='fa fa-undo'></i> Cancel
          </button>
        </div>
      </div>
    </form>
  </div>
</div>

{% endblock %}
