{% load bootstrap4 %}

<div class="row">  
    <input name="filter" type="hidden"> 
  <div class="col-lg-3 pull-right">      
    <div class='pull-right'>
      <button type="submit" name="search" class="btn btn-primary" title="Search"><i class="fa fa-search"></i> Search</button>
      <a href="."  class="btn btn-primary" title="Clear Search"><i class="fa fa-search-minus"></i> Clear</a>       
    </div>

  </div>
  <div class="col-lg-9"> 
    {% for field in filter_form %}
      <div class='col-lg-3'>
        {% bootstrap_field field layout='inline' %}
      </div>
    {% endfor %}
     <label style="margin-left: 60px; margin-top: 7px;" class="switch">
        <span class="switch_label">Show All</span>
        <input onchange="vehicle.toggle_downloads_list();" type="checkbox">
        <div class="slider round"></div>
      </label>      
       
  </div>
</div>


