{% load el_pagination_tags %}
<table id="" class="table table-hover ">
  <tr>
    <th>Stock Item</th>
    <th>Category</th> 
    <th>Stock Balance</th>
    {% if request.user.is_superuser %}
        <th>Delete</th>
    {% endif %}
  </tr>

  {% paginate stock_items %}
  {% for item in stock_items %}

  <tr> 
    <td>      
        <a href="{% url 'facilities:edit_stock_item' item.id %}" data-toggle="" data-toggle="tooltip" data-placement="right" title="View Fuel Card Usage Detail">
        <i class="fas fa-pencil-alt" aria-hidden="true"></i>  {{ item.item_name }}</a>
    </td>
    <td>{{ item.get_category_display }}</td> 
    <td>{{ item.stock_quantity|default_if_none:"0" }}</td>
    {% if request.user.is_superuser %}<td><a title="Delete" onclick="stock_item_delete('{% url 'facilities:stock_item_delete' item.id %}')" href="" aria-hidden="true" data-toggle="modal" data-target="#stock_item_delete_modal"><i class="fas fa-trash-alt" aria-hidden="true"></i></a></td>{% endif %}
  </tr>  
  {% endfor %}  
  <tr>
    <td colspan='13' style="text-align: center">
    <div class="center">
      <div class="pagination">
        {% show_pages %}
      </div>
    </div>
    </td>
  </tr>
</table>