{% if fuel_card_history %}
<div style="max-height: 300px; overflow: auto;">  
  <table id="driver_history_table" class="table table-hover">
    <thead>
      <th>Fuel Card Number</th>
      <th>Driver</th>
      <th>Start Date</th>
      <th>Status</th>
      <th>Cancelled Date</th>
      <th>Card Limit</th>
    </thead>
    {% for card in fuel_card_history %}
    <tbody>
      <td>{{card.card_number }}</td>
      <td>{{card.vehicle_assigned.driver|default_if_none:"" }}</td>
      <td>{{card.start_date|default_if_none:"" }}</td>
      <td>{{card.status|title}}</td>  
      <td>{{card.cancelled_date|default_if_none:""}}</td> 
      <td>{{card.card_limit}}</td>  
    </tbody>
    {% endfor %}
  </table>
</div>
{% else %}
<table class="table table-hover">
  <thead>
      <th>Fuel Card Number</th>
      <th>Driver</th>
      <th>Start Date</th>
      <th>Status</th>
      <th>Cancelled Date</th>
      <th>Card Limit</th>
    </thead>
</table>

<td class="info" colspan="20">No  Fuel Card History Yet</td>

<div class="modal fade" id="unassign_card_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Unassign A Fuel Card</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Recipient:</label>
            <input type="text" class="form-control" id="recipient-name">
          </div>
          <div class="form-group">
            <label for="message-text" class="col-form-label">Message:</label>
            <textarea class="form-control" id="message-text"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary">Unassign</button>
      </div>
    </div>
  </div>
</div>
{% endif %}