{% load bootstrap4 %}

<div class="row">  
	<input name="filter" type="hidden"> 
	<div class="col-lg-3 pull-right">
		<div class='pull-right'>
		  	<button type="submit" name="search" class="btn btn-primary" title="Search"><i class="fa fa-search"></i> Search</button>
		  	<a href="."  class="btn btn-primary" title="Clear Search"><i class="fa fa-search-minus"></i> Clear</a>
		  	<button type="submit" name="extract" class="btn btn-primary" title="Extract Resolved Service/Maintenance" id="load_modal"><i class="fa fa-download"></i> Extract</button>
		</div> 
	 </div> 

	 <div class='col-lg-9'>
		{% for field in service_booking_form %}
		 <div class='col-lg-3'>
		{% bootstrap_field field layout='inline' %}
		</div>
		{% endfor %}
	 </div>    

</div>    


  

