{% load bootstrap4 %}
{% if purchase_detail_form %}
<div class='col-lg-4'>
  <div class='row'>
    <div class='panel-heading'>Purchase Details</div>
    <div class='col-lg-12'><br>      
      {% bootstrap_field purchase_detail_form.purchase_type %}
      {% bootstrap_field purchase_detail_form.invoice_number %}
      {% bootstrap_field purchase_detail_form.purchase_amount %}
      {% bootstrap_field purchase_detail_form.purchase_date %}
    </div> 
  </div>
  <br>

  <div class='row'>
    <div class='panel-heading'>Dealership Details</div><br>
    <div class='col-lg-12'>{% bootstrap_field purchase_detail_form.vendor %}</div>
  </div>
</div>
<div class="col-lg-4"> 
  <div class='panel-heading'>Finance Details</div>
  <div class='col-lg-12'><br>
  {% for f in finance_detail_form %}
    {% bootstrap_field f %}
  {% endfor %}
</div>
</div>
<div class='col-lg-4'>
  <div class='panel-heading'>Document Upload</div>
  <div class='col-lg-12'><br>
    {% bootstrap_field pd_document_file_form.document %}
    {% bootstrap_field pd_document_file_form.description %}
    <div style="max-height: 230px; overflow: auto;">
                <table id="vehicle_documents_table" class="table table-hover">
                  <thead>
                    <th>Created At</th>
                    <th>Document</th>
                  </thead>
                  <tbody>
                    {% for document in pd_documents %}
                    <tr>
                      <td>{{document.created_at }}</td>
                      <td>
                        {% if document.document.document %}
                        <a href="{{ document.document.document.url }}" 
                           data-toggle="" 
                           data-toggle="tooltip" 
                           data-placement="bottom" 
                           title="Description: {{document.document.description }}">
                         {{ document.document.document_name }}</a>
                        {% endif %}
                      </td>                      
                      {% empty %}
                    <tr><td class="info" colspan="20">No Documents Added Yet</td></tr>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div><br>
    </div> 
</div>
{% else %}
<table class='table' width='100%'>
  <tr>
      <td>Save changes to proceed</td>
  </tr>
</table>
{% endif %}
