{% load el_pagination_tags %}
<table id="" class="table table-hover ">
  <tr>
    <th>Registration Number</th>
    <th>Driver</th>
    <th>Division</th>
    <th>Plan Type</th>
    <th>End Date</th>
    <th></th>
    
  </tr>

  {% paginate vehicle_maintenance %}
  {% for maintenance in vehicle_maintenance %}

  <tr> 
    <td><a href="{% url 'fleetmanagement:edit_vehicle_maintenance' maintenance.id %}" data-toggle="" data-toggle="tooltip" data-placement="right" title="Edit Maintenance"><i class="fas fa-pencil-alt" aria-hidden="true"></i>
      {{ maintenance.vehicle }}</a></td>
    <td>
      {% if maintenance.vehicle.driver %}
      <a href="{% url 'employees:edit_employee' maintenance.vehicle.id %}" data-toggle="" data-toggle="tooltip" data-placement="right" title="View Driver Profile"><i class="fa fa-info-circle" aria-hidden="true"></i>
      {{ maintenance.vehicle.driver }}</a>
      {% else %}
      Unassigned
      {% endif %}</td>  
    <td>{{ maintenance.vehicle.division |title }}</td> 
    <td>{{ maintenance.plan_type |title }}</td>
    <td>{{ maintenance.end_date |date:"d M Y" }}</td>  
  </tr>
  {% endfor %}
  <tr>
    <td colspan='13' style="text-align: center">
    <div class="center">
      <div class="pagination">
        {% show_pages %}
      </div>
    </div>
    </td>
  </tr>
</table>