{% extends "base.html" %}
{% load staticfiles %}
{% load bootstrap4 %}
{% load humanize %}
{% block content%}

<div class="panel panel-primary transparency">
   <div class="panel-heading">
      {% if vehicle_insurance %}
        <b>Edit Vehicle Insurance:</b>
      {% else %}
        <b>Add Vehicle Insurance:</b>
      {% endif %}
  </div>
  
  <div class="panel-body">

    <ul class="nav nav-pills" id="myTab">
      <li class="active">
        <a href="#insurance_details" 
           data-toggle="tab">
            Insurance Details&nbsp;
        </a>
      </li>
      
      <li class="">
        <a href="#incident_details" 
           data-toggle="tab">Incident Details</a>
      </li>

    </ul>
    
    <form method="POST" class="form-2" >
      {% csrf_token %}
      <input type="hidden" name="tab" value="">   
      <div id="edit_vehicle_insurance_tab_content" class="tab-content">
              
        <div class="tab-pane fade active in" id="insurance_details">
          <br/>

          
          <div class="col-lg-12">
            <div class='panel-heading'>Vehicle Insurance Details</div><br>
            <div class='col-lg-4'>
              {% bootstrap_field vehicle_insurance_form.vehicle %}
              {% bootstrap_field vehicle_insurance_form.status %} 
              {% bootstrap_field vehicle_insurance_form.vehicle_tracking %}
              {% bootstrap_field vehicle_insurance_form.time_of_accident %}
              {% bootstrap_field vehicle_insurance_form.date_reported_to_fleet %}            
            </div>
            <div class='col-lg-4'>
              
              {% bootstrap_field vehicle_insurance_form.date_reported_to_insurance %}
              {% bootstrap_field vehicle_insurance_form.insurance_reference_number %}
              {% bootstrap_field vehicle_insurance_form.claim_number %}
              {% bootstrap_field vehicle_insurance_form.date_claim_registered %} 
            </div>
            <div class='col-lg-4'>
              
              {% bootstrap_field vehicle_insurance_form.claim_settlement_date %}
              {% bootstrap_field vehicle_insurance_form.excess_amount %}
              {% bootstrap_field vehicle_insurance_form.date_excess %}

            </div>
          </div>

          <div class="col-lg-12">
            <div class='panel-heading'>Towing Details</div><br>
            <div class='col-lg-4'>
              {% bootstrap_field vehicle_insurance_form.towing_date %} 
              {% bootstrap_field vehicle_insurance_form.towing_quote_amount %}           
            </div>
            <div class='col-lg-4'>
              
              {% bootstrap_field vehicle_insurance_form.towing_vendor %}

            </div>
            <div class='col-lg-4'>
              
              {% bootstrap_field vehicle_insurance_form.towing_quote_number %}

            </div>
          </div>

          <div class="col-lg-12">
            <div class='panel-heading'>Repair Details</div><br>
            <div class='col-lg-4'>
              {% bootstrap_field vehicle_insurance_form.date_for_repair %} 
              {% bootstrap_field vehicle_insurance_form.repair_quote_number %}           
            </div>
            <div class='col-lg-4'>
              
              {% bootstrap_field vehicle_insurance_form.repair_quote_date %}
              {% bootstrap_field vehicle_insurance_form.repair_vendor %}
            </div>
            <div class='col-lg-4'>
              
              {% bootstrap_field vehicle_insurance_form.repair_quote_amount %}
              {% bootstrap_field vehicle_insurance_form.released_from_repairs %}

            </div>
          </div>

        </div>

        <div class="tab-pane fade" id="incident_details">
          <br>
         <div class="col-lg-12">
          <div class='panel-heading'>Incident Details</div><br>
            <div class='col-lg-2'>
              {% bootstrap_field vehicle_insurance_form.right_rear_fender %}
              {% bootstrap_field vehicle_insurance_form.right_rear_wheel %}
              {% bootstrap_field vehicle_insurance_form.right_rear_door %}
              {% bootstrap_field vehicle_insurance_form.right_rear_lamp %}
              {% bootstrap_field vehicle_insurance_form.right_rear_window %}
              {% bootstrap_field vehicle_insurance_form.right_rear_door_window %}
              {% bootstrap_field vehicle_insurance_form.right_rear_viewmirror %}
              {% bootstrap_field vehicle_insurance_form.right_front_door_window %}
            </div>
            <div class='col-lg-2'>  
              {% bootstrap_field vehicle_insurance_form.right_front_door %}
              {% bootstrap_field vehicle_insurance_form.right_front_wheel %}
              {% bootstrap_field vehicle_insurance_form.right_front_fender %}
              {% bootstrap_field vehicle_insurance_form.right_head_lamp %}
              {% bootstrap_field vehicle_insurance_form.left_rear_fender %}
              {% bootstrap_field vehicle_insurance_form.left_rear_wheel %}
              {% bootstrap_field vehicle_insurance_form.left_rear_door %}
              {% bootstrap_field vehicle_insurance_form.left_rear_lamp %}
            </div>
            <div class='col-lg-2'>
              {% bootstrap_field vehicle_insurance_form.left_rear_window %}
              {% bootstrap_field vehicle_insurance_form.left_rear_door_window %}
              {% bootstrap_field vehicle_insurance_form.left_rear_viewmirror %}
              {% bootstrap_field vehicle_insurance_form.left_front_door_window %}
              {% bootstrap_field vehicle_insurance_form.left_front_door %}
              {% bootstrap_field vehicle_insurance_form.left_front_wheel %}
              {% bootstrap_field vehicle_insurance_form.left_front_fender %}
              {% bootstrap_field vehicle_insurance_form.left_head_lamp %}         
            </div>
            <div class='col-lg-2'>
              {% bootstrap_field vehicle_insurance_form.rear_bumper %}
              {% bootstrap_field vehicle_insurance_form.boot_door %}
              {% bootstrap_field vehicle_insurance_form.rear_wind_screen %}
              {% bootstrap_field vehicle_insurance_form.car_top %}
              {% bootstrap_field vehicle_insurance_form.wind_screen %}
              {% bootstrap_field vehicle_insurance_form.hood %}
              {% bootstrap_field vehicle_insurance_form.grill %}
              {% bootstrap_field vehicle_insurance_form.front_bumper %}
            </div>
            <div class='col-lg-2'>
              {% bootstrap_field vehicle_insurance_form.chasis %}
              {% bootstrap_field vehicle_insurance_form.suspension %}
              {% bootstrap_field vehicle_insurance_form.engine %}
              {% bootstrap_field vehicle_insurance_form.gear_box %}
              {% bootstrap_field vehicle_insurance_form.dashboard %}
              {% bootstrap_field vehicle_insurance_form.dashboard_controls %}
              {% bootstrap_field vehicle_insurance_form.sound_system %}
              {% bootstrap_field vehicle_insurance_form.steering %}
            </div>
            <div class='col-lg-2'>
              {% bootstrap_field vehicle_insurance_form.left_front_seat %}
              {% bootstrap_field vehicle_insurance_form.rear_seat %}
              {% bootstrap_field vehicle_insurance_form.right_front_seat %}
              {% bootstrap_field vehicle_insurance_form.door_panels %}
              {% bootstrap_field vehicle_insurance_form.foot_pedals %}
              {% bootstrap_field vehicle_insurance_form.hand_brake %}
              {% bootstrap_field vehicle_insurance_form.capets %}
              {% bootstrap_field vehicle_insurance_form.ceiling %}
            </div>

          </div>
        </div>
        
        
      </div>

      <div class="btn-group-horizontal col-lg-12">

          <div class='pull-right'>
          <button type="submit" class="btn btn-primary">
            <i class='fa fa-floppy-o'></i> Save
          </button>
          <a href="{% url 'fleetmanagement:view_vehicle_insurance' %}" class="btn btn-primary">
            <i class='fa fa-undo'></i> Cancel
          </a>
        </div>
      </div>
      
    </form>
  </div>

</div>

{% endblock %}