{% extends "base.html" %}
{% load staticfiles%}
{% load bootstrap4 %}
{% load humanize %}

{% block content%}

<div class="panel panel-primary transparency">
  <div class="panel-heading">
    <b>{{title|title}}</b>    
  </div>
  <div class="panel-body">
    <form id="vehicle_filter_form" method="POST">
        {% csrf_token %}
    <div class="pull-right col-lg-12">     
        <input name="filter" type="hidden">
        
        <div class='pull-right'>
          <button type="submit"  name="search" class="btn btn-primary" title="Search"><i class="fa fa-search" ></i> </button>
          <a href="{% url 'fleetmanagement:view_insured' insurer.id %}"  class="btn btn-primary" title="Clear Search"><i class="fa fa-search-minus"></i> </a>
          <button type="submit" id="load_modal" class="btn btn-primary" title="Extract Vehicles"><i class="fa fa-download"></i></button>
        </div>  


        <div class='col-lg-2'>
          {% bootstrap_field vehicles_filter_form.vehicle layout='inline' %}
        </div> 
        <div class='col-lg-2'>
          {% bootstrap_field vehicles_filter_form.insurance_type layout='inline' %}
        </div>
        <div class='col-lg-2'>
          {% bootstrap_field vehicles_filter_form.broker_name layout='inline' %}
        </div>          
          
       
              
    </div>
    
    
    <div class="tab-content">
      <div id="fuel_card" class="tab-pane fade in active">
        {% include 'fleet_management/_insured_list.html' %}
      </div>
    </div>

   <div class="modal fade" id="extract_modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">    
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="modalLabel"><i class="fa fa-info-circle" aria-hidden="true"></i> Extract Insurer Vehicle(s)</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <b> Are you sure you want to download the extract?</b>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            <button type="submit" name="extract" id="extract" class="btn btn-primary">Ok</button>
          </div>
        </div>
      </div>
    </div>
  </form>
  </div>
</div>
{% endblock %}